/******* MAIN AREAS *******/


$babyblue: #2594D9;
$purplenurple: #3E4D8C;
$violet: #E7E6F8;
$red: #F72C25;
$green: #A9E5BB;
$beige: #596869;
$royalblue: #336699;
$pink: #C33C54;
$skyblue: #B2DDF7;
$yellow: #F7B32B;
$slateblue: slateblue;



/******* BORDER HIGHLIGHTS *******/

$border-color: $slateblue;



/******* FOOTER BACKGROUND *******/

$footer-background-color: #efefef;

