/* MAIN AREAS */
$red: #730217;
$green: #D15530;
$beige: #A37849;
$royalblue: #2594D9;
$pink: #E73C81;
$skyblue: #3E4D8C;
$yellow: #F2CF53;

/* BORDER HIGHLIGHTS */
$border-color: rgb(240, 38, 38);

/* FOOTER BACKGROUND */
$footer-background-color: #efefef;

