/******* MAIN AREAS *******/

$beige: #A37849;
$babyblue: #2594D9;
$green: #D15530;
$red: #730217;
$pink: #E73C81;
$royalblue: #2594D9;
$skyblue: #3E4D8C;
$yellow: #F2CF53;



/******* BORDER HIGHLIGHTS *******/

$border-color: rgb(240, 38, 38);



/******* FOOTER BACKGROUND *******/

$footer-background-color: #efefef;

