@import 'variables';
@import 'colors';
@import 'elements';

#area-1{
	background-color: $red;
}

#area-2{
	background-color: $green;
}

#area-3{
	background-color: $beige;
}

#area-4{
	background-color: $royalblue;
}

#area-5{
	background-color: $pink;
}

#area-6{
	background-color: $skyblue;
}

#area-7{
	background-color: $yellow;
}
